#footer {
  background-color: rgb(180, 245, 130);
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dev-link {
  justify-content: left;
  color: black;
  font-size: large;
  top: 70px;
}

.dev-link:hover {
  color: #fff;
}

.footer-link {
  color: black;
  flex-direction: row;
  justify-content: right;
  font-size: large;
}

.footer-link:hover {
  color: #fff;
}

.citation-info {
  display: flex;

}

.cite-links {
  flex-direction: row;
}

.cite-text {
  justify-content: center;
  text-align: center;
  padding: 30px;
  width: 50vw;
}