#footer {
  background-color: rgb(180, 245, 130);
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(39, 174, 96);
  border-radius: 8px;
}

.dev-link {
  justify-content: left;
  color: black;
  font-size: large;
  top: 70px;
}

.dev-link:hover {
  color: #fff;
}

.footer-link {
  color: black;
  flex-direction: row;
  justify-content: right;
  font-size: large;
}

.footer-link:hover {
  color: #fff;
}

.cite-text {
  justify-content: center;
}

p{
  line-height: 2em;
  margin-left: 3vw;
  margin-right: 3vw;
}

.landing-title {
  text-align: center;
  font-size: 1.7em;
}

.ending-statement {
  text-align: center;
}