#BarChart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 50px;
}

.bar {
  background-color: #3aa70f;
  width: 10px;
}

:root {
  /* 	Size is a variable for both - height and width dimensions of the circle  */
  --size: 250px;
  /* 	First Color Value */
  --clrFirstSpin: rgb(3, 130, 20);
  /* 	Second Color Value */
  --clrSecondSpin: aqua;
  /* 	Third Color Value */
  --clrThirdSpin: rgb(194, 241, 143);
  /* 	Duration for text blinking animation  */
  --displayingTextTime: 2500ms;
  --spinnerFont: calc(var(--size)/10);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

.spinner {
  margin-top: 120px;
  margin-left: 25vw;
  margin-bottom:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  position: relative;

}

.spinner-area {
  border: 15px solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate var(--duration) var(--timing) infinite;
  mix-blend-mode: overlay;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-third {
  border-top-color: var(--clrThirdSpin);
  --duration: 1.5s;
  --timing: ease-in;
}

.spinner-second {
  border-left-color: var(--clrSecondSpin);
  --duration: 2s;
  --timing: ease-in
}

.spinner-first {
  border-bottom-color: var(--clrFirstSpin);
  --duration: 3s;
  --timing: ease-in-out
}

.spinner p {
  font-size: var(--spinnerFont);
  text-transform: none;
  animation: displaying-text var(--displayingTextTime) ease-in-out infinite;
  color: black;
}

@keyframes displaying-text {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}



.spinner:after {
  content: 'Click the Button To Generate Data!';
  width: 200px;
  padding: 15px;
  height: 100px;
  display: block;
  position: absolute;
  top: -85px;
  right: -40px;
  background: white;
  border: 1px;
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 42% 75%, 22% 100%, 22% 75%, 0% 75%);
  /* 	animation: displayMessage 2s linear 3s; */
  animation-name: displayMessage;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: pause;
  opacity: 0;
}

@keyframes displayMessage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
    transform: rotate(15deg);
  }
}